<form method="GET">
    URL: <input type="text" name="form_address"><br/> 
    <input type="submit" value="Submit" />
</form>

<br/>

{% if web_address != '' %}
    <p>Input: {{ web_address }} </p><br/>
    
    {% if err != '' %}
        <p>Error: {{err}}</p>
    {% else %}
        {% if words_list %}
            <p>Keywords:</p>
		    <ul>
		    {% for x,y in words_list %}
		        <li>{{ x }}: {{ y }}</li>
		    {% endfor %}
		    </ul>
		{% else %}
		    <p>Empty list.</p>
		{% endif %}
    {% endif %}

{% else %}
    <p>No URL!</p>
{% endif %}